@* TODO: async model loading menuitems *@
<ul>
    <li>
        <a href="/">
            Meny 1
        </a>
    </li>
    <li>
        <a href="/">
            Meny 2
        </a>
    </li>
    <li>
        <a href="/">
            Meny 3
        </a>
    </li>
</ul>