@using MoLam2.Models.ViewModels;

@model NavigationModel

<nav>
    <ul>
        @foreach (var pageItem in await Model.ChildItems)
        {
            if (pageItem != null)
            {
                <li>
                    <a href="@pageItem.Url">@pageItem.Name</a>
                </li>
            }
        }
    </ul>
</nav>