<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <title>@ViewData["Title"] - dev</title>
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/main.pad.css" media="screen and (max-width: 800px)" />
        <link rel="stylesheet" href="~/css/main.mobile.css" media="screen and (max-width: 600px)" />
    </environment>
    <environment exclude="Development">
        <title>@ViewData["Title"] - prod</title>
    </environment>
</head>
<body>
    <main class="main">

        <div class="container body-content">
            @RenderBody()
        </div>

        @RenderSection("Scripts", required: false)
    </main>
</body>
</html>